container {
    margin: 10px;
    max-width: 100%;
}

nav {
    background-color: #ffffff;
    border-style: none;
    border-radius: 0px;
}
footer {
    background-color: #ffffff;
    border-style: none;
    border-radius: 0px;
}
body {
    background-color: #ffffff;
    border-style:none;
    border-radius: 0px;
    width:600px;
}
.navh1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #000000;
    text-align:left;
    padding-top: 30px;
    padding-bottom: 30px;
}
.navp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:200;
    color:#000000;
    text-align:left;
}
.footerh1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:18px;
    font-weight: 300;
    color:#000000;
    text-align:left;
    padding-top:30px;
    padding-bottom:30px;
}
.footerp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:200;
    color: #000000;
    text-align:left;
}
#pagetitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 300;
    color: #000000;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
}
#sectionheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 300;
    color:#000000;
    text-align:left;
    padding-top: 60px;
    padding-bototm: 60px;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color:#000000;
    text-align:left;
}
.quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#000000;
    text-align: left;
}
.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:200;
    color:#3e3e3e;
    text-align:left;
}
.linkedtext {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:200;
    text-decoration:underline;
    color:blue
}
