#container {
    background-color: #ffffff;
    margin:30px;
    max-width:100%;
}

#nav {
    background-color: #ffffff;
    border-style: none;
}
#footer {
    background-color: #e3e3e3;
    margin:auto;
}
#body {
    background-color: #ffffff;
    border-style:none;
    max-width:900px;
    margin:auto;
}
.navh1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    padding-top: 30px;
}
.navp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:200;
    color:#000000
}
.footerh1 {
    font-family: Arial;
    font-size:16px;
    font-weight: 200;
    color:#000000;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}
.footerp {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight:200;
    color: #000000;
    padding-bottom:30px;
    text-align: center;
}
#pagetitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #000000;
}
#sectionheading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color:#000000;
    padding-top:30px;
}
#p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 200;
    color:#000000;
}
.quote {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color:#000000;
    padding-top:30px;
}
.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight:200;
    color:#3e3e3e;
    padding-bottom:30px;
}
.linkedtext {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:200;
    text-decoration:underline;
    color:blue
}
